{% raw %}
<script type="text/x-handlebars-template" id="github-activity-template">
  {{#each data}}
    {{#if WatchEvent}}
      <li>
        {{actor.login}}
        starred
        <a href='{{repo.url}}'>
          {{repo.name}}
        </a>
      </li>
    {{/if}}
    
    {{#if CreateEvent}}
      <li>
        {{actor.login}}
        created a new repository:
        <a href='{{repo.url}}'>
          {{repo.name}}
        </a>
      </li>
    {{/if}}
    
    {{#if ForkEvent}}
      <li>
        {{actor.login}}
        forked
        <a href="{{repo.url}}">
          {{repo.name}}
        </a>
        to
        <a href='{{payload.forkee.html_url}}'>
          {{payload.forkee.full_name}}
        </a>
      </li>
    {{/if}}
    
    {{#if PushEvent}}
      <li>
        <a href="https://github.com/{{actor.login}}">{{actor.login}}</a>
        pushed
        to
        <a href='https://github.com/{{repo.name}}'>
          {{replace repo.name "CDECatapult/" ""}}
        </a>
        
        <ul class="commits">
          {{#each payload.commits}}
            <li>
              <span class="commit">
                <a href="https://github.com/{{ ../repo.name }}/commit/{{ sha }}">
                  {{ truncate sha 6 }}
                </a>
              </span>
              <span class="message">
                <a href="https://github.com/{{ ../repo.name }}/commit/{{ sha }}">
                  {{message}}
                </a>
              </span>
            </li>
          {{/each}}
        </ul>
      </li>
    {{/if}}
  {{/each}}
</script>
{% endraw %}
